################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/latest_stable/SLS2012v3.2/x64/Debug
/latest_stable/SLS2012v3.2/.vs/SLS2012v3.2/v16
/latest_stable/SLS2012v3.2/SLS2012v3.2/Debug
/latest_stable/SLS2012v3.2/SLS2012v3.2/x64/Debug
/latest_stable/.vs/SLS2012v3.2/v16
/latest_stable/SLS2012v3.2/SLS2012v3.2/slsConfig.xml
/latest_stable/SLS2012v3.2/SLS2012v3.2/ClassDiagram.cd
latest_stable/SLS2012v3.2/SLS2012v3.2/SLS2012v3.2.vcxproj
latest_stable/SLS2012v3.2/SLS2012v3.2/SLS2012v3.2.vcxproj.filters
latest_stable/SLS2012v3.2/README.md
latest_stable/readme.txt~
latest_stable/readme.txt
latest_stable/SLS2012v3.2/SLS2012v3.2/SLS2012v3.2.vcxproj
latest_stable/SLS2012v3.2/SLS2012v3.2/SLS2012v3.2.vcxproj.filters
latest_stable/SLS2012v3.2/SLS2012v3.2/SLS2012v3.2.vcxproj.filters
latest_stable/readme.txt~
latest_stable/readme.txt
