################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/latest_stable/SLS2012v3.2/x64/Debug
